<a href="https://colab.research.google.com/github/Neoneto/CodingDojo_Week11/blob/main/SQL_Basics_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Basics Exercise
Submitted by kenneth Alaba

Simulating a database and performing querying on it.

## Loading the data and Setting up the database

In [1]:
# imports
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# mount data
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [3]:
# load data - change the path to match your drive!
school = pd.read_csv('/content/drive/My Drive/Coding Dojo/Week 12/School_Details.csv')
# load table 2
facility = pd.read_csv('/content/drive/My Drive/Coding Dojo/Week 12/School_Facility_Details.csv')

In [4]:
# Display first few rows
school.head()

  DistrictName EstablishmentCode  ... HighestClass BoardName
0         East             S0169  ...      Class 5       NaN
1         East             S0099  ...     Class 12  C.B.S.E.
2         East             S0848  ...     Class 10  C.B.S.E.
3         East             S0190  ...      Class 8       NaN
4         East             S0111  ...     Class 10  C.B.S.E.

[5 rows x 30 columns]

In [5]:
# Display first few rows
facility.head()

  EstablishmentCode  ... IsSportsStoreRoomAvailable
0             S1034  ...              Not Available
1             S0516  ...              Not Available
2             S0237  ...              Not Available
3             S0692  ...              Not Available
4             S0374  ...              Not Available

[5 rows x 11 columns]

In [6]:
# create sqlite engine
engine = create_engine('sqlite:///school.db', echo=True)
# create connection to engine
conn = engine.connect()

In [7]:
# add the dataframe as a table in sqlite
sqlite_table = "school_details"
school.to_sql(sqlite_table, conn, if_exists='fail')
sqlite_table2 = "school_facility_details"
facility.to_sql(sqlite_table2, conn, if_exists='fail')

2022-01-31 16:58:30,484 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_details")
2022-01-31 16:58:30,486 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-31 16:58:30,488 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_details")
2022-01-31 16:58:30,493 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-31 16:58:30,502 INFO sqlalchemy.engine.Engine
CREATE TABLE school_details (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDistance (in Km)" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)


2022-01-31 16:58:30,504 INFO sqlalchemy.engine.Engine [no key 0.00149s] ()
2022-01-31 16:58:30,521 INFO sqlalchemy.engine.Engine COMMIT
2022-01-31 16:58:30,522 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_details_index ON school_details ("index")
2022-01-31 16:58:30,524 INFO sqlalchemy.engine.Engine [no key 0.00132s] ()
2022-01-31 16:58:30,535 INFO sqlalchemy.engine.Engine COMMIT
2022-01-31 16:58:30,550 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-31 16:58:30,644 INFO sqlalchemy.engine.Engine INSERT INTO school_details ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDistance (in Km)", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-01-31 16:58:30,646 INFO sqlalchemy.engine.Engine [generated in 0.07557s] ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38680555556', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66805555556', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66805555556', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))
2022-01-31 16:58:30,670 INFO sqlalchemy.engine.Engine COMMIT
2022-01-31 16:58:30,692 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_facility_details")
2022-01-31 16:58:30,694 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-31 16:58:30,698 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_facility_details")
2022-01-31 16:58:30,700 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-31 16:58:30,707 INFO sqlalchemy.engine.Engine
CREATE TABLE school_facility_details (
	"index" BIGINT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"IsLibraryAvailable" TEXT,
	"AvailableBooksCount" BIGINT,
	"IsFireExtgAvailable" TEXT,
	"ExtinguisherCount" BIGINT,
	"HOIRoomAvailable" TEXT,
	"IsStaffRoomAvailable" TEXT,
	"NoofStaffRoom" BIGINT,
	"IsLockerForStaffAvailable" TEXT,
	"IsSportsStoreRoomAvailable" TEXT
)


2022-01-31 16:58:30,710 INFO sqlalchemy.engine.Engine [no key 0.00249s] ()
2022-01-31 16:58:30,723 INFO sqlalchemy.engine.Engine COMMIT
2022-01-31 16:58:30,726 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_facility_details_index ON school_facility_details ("index")
2022-01-31 16:58:30,727 INFO sqlalchemy.engine.Engine [no key 0.00188s] ()
2022-01-31 16:58:30,743 INFO sqlalchemy.engine.Engine COMMIT
2022-01-31 16:58:30,746 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-31 16:58:30,785 INFO sqlalchemy.engine.Engine INSERT INTO school_facility_details ("index", "EstablishmentCode", "EstablishmentName", "IsLibraryAvailable", "AvailableBooksCount", "IsFireExtgAvailable", "ExtinguisherCount", "HOIRoomAvailable", "IsStaffRoomAvailable", "NoofStaffRoom", "IsLockerForStaffAvailable", "IsSportsStoreRoomAvailable") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-01-31 16:58:30,787 INFO sqlalchemy.engine.Engine [generated in 0.03446s] ((0, 'S1034', '(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PRIMARY SCHOOL, RIMBI', 'Not Available', 0, 'Available', 1, 'Available', 'Not Available', 0, 'Not Available', 'Not Available'), (1, 'S0516', '10TH MILE GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Available', 'Available', 1, 'Not Available', 'Not Available'), (2, 'S0237', '4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (3, 'S0692', 'AAPGAZI GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (4, 'S0374', 'AARUBOTEY GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (5, 'S0218', 'ADAMPOOL GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 217, 'Available', 5, 'Available', 'Available', 1, 'Available', 'Not Available'), (6, 'S1064', 'ADONAI HOMES , NAYA BAZAR', 'Available', 0, 'Available', 0, 'Not Available', 'Available', 2, 'Not Available', 'Available'), (7, 'C1348', 'ADVANCED TECHNICAL TRAINING CENTRE', 'Available', 0, 'Available', 0, 'Available', 'Available', 0, 'Available', 'Available')  ... displaying 10 of 1256 total bound parameter sets ...  (1254, 'S0185', 'ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 0, 'Available', 5, 'Not Available', 'Available', 1, 'Not Available', 'Not Available'), (1255, 'S0267', 'ZOOM GOVERNMENT SECONDARY SCHOOL', 'Not Available', 0, 'Available', 6, 'Available', 'Available', 1, 'Available', 'Not Available'))
2022-01-31 16:58:30,798 INFO sqlalchemy.engine.Engine COMMIT

## SQL Exercises

### 1. What is the average BACDistance (in Km)? Rename the output column to "avg_bac_distance."

In [23]:
# Write your SQL query in this string
sql = """
SELECT AVG([BACDistance (in Km)])
FROM school_details
"""
# Read the sql query into pandas to view the results
temp_df = pd.read_sql_query(sql, engine)

# Rename the column
temp_df.columns = ['avg_bac_distance']

temp_df.head()

2022-01-31 17:01:09,212 INFO sqlalchemy.engine.Engine
SELECT AVG([BACDistance (in Km)])
FROM school_details

2022-01-31 17:01:09,215 INFO sqlalchemy.engine.Engine [raw sql] ()

   avg_bac_distance
0         12.681822

In [25]:
# Check that the result is correct

# Write your SQL query in this string
sql = """
SELECT [BACDistance (in Km)]
FROM school_details
"""
# Read the sql query into pandas to view the results
temp_df = pd.read_sql_query(sql, engine)

temp_df.mean()

2022-01-31 17:01:53,674 INFO sqlalchemy.engine.Engine
SELECT [BACDistance (in Km)]
FROM school_details

2022-01-31 17:01:53,681 INFO sqlalchemy.engine.Engine [raw sql] ()

BACDistance (in Km)    12.681822
dtype: float64

### 2. What is the average BACDistance (in Km) by School Level? Sort the results from highest average to lowest average.

In [30]:
# Write your SQL query in this string
sql = """
SELECT SchoolLevel, AVG([BACDistance (in Km)]) 
FROM school_details
GROUP BY SchoolLevel
ORDER BY AVG([BACDistance (in Km)]) DESC
"""
# Read the sql query into pandas to view the results
temp_df = pd.read_sql_query(sql, engine).dropna()

temp_df.columns = ['SchoolLevel', 'avg_bac_distance']

temp_df.head(10)

2022-01-31 17:08:01,049 INFO sqlalchemy.engine.Engine
SELECT SchoolLevel, AVG([BACDistance (in Km)])
FROM school_details
GROUP BY SchoolLevel
ORDER BY AVG([BACDistance (in Km)]) DESC

2022-01-31 17:08:01,051 INFO sqlalchemy.engine.Engine [raw sql] ()

  SchoolLevel  avg_bac_distance
0         JHS         13.692647
1          PS         12.830787
2          SS         12.630872
3         SSS         10.863095
4         LPS          5.368421

### 3. Repeat the previous query, but only display results where the average distance is at least 10 km.

In [43]:
# Write your SQL query in this string
sql = """
SELECT SchoolLevel, AVG([BACDistance (in Km)]) 
FROM school_details

GROUP BY SchoolLevel
Having AVG([BACDistance (in Km)]) > 10
ORDER BY AVG([BACDistance (in Km)]) DESC


"""
# Read the sql query into pandas to view the results
temp_df = pd.read_sql_query(sql, engine).dropna()

#rename columns
temp_df.columns = ['SchoolLevel', 'avg_bac_distance']

temp_df.head(10)

2022-01-31 17:15:25,289 INFO sqlalchemy.engine.Engine
SELECT SchoolLevel, AVG([BACDistance (in Km)])
FROM school_details

GROUP BY SchoolLevel
Having AVG([BACDistance (in Km)]) > 10
ORDER BY AVG([BACDistance (in Km)]) DESC



2022-01-31 17:15:25,294 INFO sqlalchemy.engine.Engine [raw sql] ()

  SchoolLevel  avg_bac_distance
0         JHS         13.692647
1          PS         12.830787
2          SS         12.630872
3         SSS         10.863095

### 4. Join the two tables together (school_details and school_facility_details). Start by displaying all of the columns, but limit the resulting rows to just 2.

In [60]:
# Write your SQL query in this string
sql = """
SELECT *
FROM school_details d INNER JOIN school_facility_details f
  ON f.EstablishmentCode = d.EstablishmentCode

"""
# Read the sql query into pandas to view the results
temp_df = pd.read_sql_query(sql, engine)
temp_df.head()

2022-01-31 17:30:51,654 INFO sqlalchemy.engine.Engine
SELECT *
FROM school_details d INNER JOIN school_facility_details f
  ON f.EstablishmentCode = d.EstablishmentCode


2022-01-31 17:30:51,666 INFO sqlalchemy.engine.Engine [raw sql] ()

   index DistrictName  ... IsLockerForStaffAvailable IsSportsStoreRoomAvailable
0      0         East  ...             Not Available              Not Available
1      1         East  ...             Not Available                  Available
2      2         East  ...                 Available                  Available
3      3         East  ...             Not Available              Not Available
4      4         East  ...             Not Available              Not Available

[5 rows x 43 columns]

In [61]:
# Display all th ecolumn names
temp_df.columns

Index(['index', 'DistrictName', 'EstablishmentCode', 'EstablishmentName',
       'BRCName', 'CRCName', 'SchoolLevel', 'ManagementName',
       'LocalityHabitation', 'SubdivisionName', 'ConstituencyName',
       'RevenueBlockName', 'CivicBodyName', 'WardName', 'PostOfficeName',
       'PhoneNo', 'FaxNo', 'EmailID', 'Website', 'LocatedInRuralOrUrban',
       'DiseCode', 'EstablishedDate', 'DistrictHQDistance (in Km)',
       'CRCDistance (in Km)', 'BACDistance (in Km)', 'IsRecognized',
       'RecognizedBy', 'ContactPersonName', 'LowestClass', 'HighestClass',
       'BoardName', 'index', 'EstablishmentCode', 'EstablishmentName',
       'IsLibraryAvailable', 'AvailableBooksCount', 'IsFireExtgAvailable',
       'ExtinguisherCount', 'HOIRoomAvailable', 'IsStaffRoomAvailable',
       'NoofStaffRoom', 'IsLockerForStaffAvailable',
       'IsSportsStoreRoomAvailable'],
      dtype='object')

Notice that the resulting table has two 'index' columns which contains the index of the row from their original tables.

### 5. Now, select just the schools where the SchoolLevel is "PS" that do not have libraries.

In [68]:
# Write your SQL query in this string
sql = """
SELECT *
FROM school_details d INNER JOIN school_facility_details f
  ON f.EstablishmentCode = d.EstablishmentCode
WHERE d.SchoolLevel = 'PS' AND IsLibraryAvailable = 'Available'
"""
# Read the sql query into pandas to view the results
temp_df = pd.read_sql_query(sql, engine)
temp_df.head()

2022-01-31 17:36:00,292 INFO sqlalchemy.engine.Engine
SELECT *
FROM school_details d INNER JOIN school_facility_details f
  ON f.EstablishmentCode = d.EstablishmentCode
WHERE d.SchoolLevel = 'PS' AND IsLibraryAvailable = 'Available'

2022-01-31 17:36:00,305 INFO sqlalchemy.engine.Engine [raw sql] ()

   index DistrictName  ... IsLockerForStaffAvailable IsSportsStoreRoomAvailable
0      0         East  ...             Not Available              Not Available
1      6         East  ...             Not Available              Not Available
2      7         East  ...                 Available              Not Available
3      9         East  ...             Not Available              Not Available
4     13         East  ...             Not Available              Not Available

[5 rows x 43 columns]

### 6. Build off the previous query, but order the results alphabetically by name.

In [69]:
# Write your SQL query in this string
sql = """
SELECT *
FROM school_details d INNER JOIN school_facility_details f
  ON f.EstablishmentCode = d.EstablishmentCode
WHERE d.SchoolLevel = 'PS' AND IsLibraryAvailable = 'Available'
ORDER BY  EstablishmentName ASC
"""
# Read the sql query into pandas to view the results
temp_df = pd.read_sql_query(sql, engine)
temp_df.head()

2022-01-31 17:37:33,791 INFO sqlalchemy.engine.Engine
SELECT *
FROM school_details d INNER JOIN school_facility_details f
  ON f.EstablishmentCode = d.EstablishmentCode
WHERE d.SchoolLevel = 'PS' AND IsLibraryAvailable = 'Available'
ORDER BY  EstablishmentName ASC

2022-01-31 17:37:33,793 INFO sqlalchemy.engine.Engine [raw sql] ()

   index DistrictName  ... IsLockerForStaffAvailable IsSportsStoreRoomAvailable
0    345         East  ...             Not Available              Not Available
1    385         East  ...             Not Available              Not Available
2    143         East  ...             Not Available              Not Available
3    457        North  ...             Not Available              Not Available
4   1149         West  ...                 Available                  Available

[5 rows x 43 columns]